<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> Properties Editor</title>
  </head>
  <body>
    <script src="bower_components/xjs-framework/dist/xjs.js"></script>
    <script>
      (function() {
        'use strict';

        var xjs = require('xjs');

        xjs.ready().then(function() {
          xjs.SourcePropsWindow.getInstance().useTabbedWindow({
            customTabs: ['Custom'],
            tabOrder: ['Custom', 'Color', 'Layout', 'Transition']
          });
        });

        // Disable backspace event to prevent breaking your source prop window
        document.onkeydown = function(event) {
          if (
            event.target.nodeName !== 'INPUT' && 
            event.target.nodeName !== 'TEXTAREA' &&
            event.keyCode === 8
          ) {
            return false;
          }
        }

        // Disable context menu
        document.oncontextmenu = function() { return false; };

        // Functions that are executed by XBC. We need to handle these to
        // prevent unwanted error messages
        window.OnDialogLoadStart = function() {};
        window.OnDialogTitleChange = function() {};
        window.OnDialogBeforeNavigation = function() {};
        window.SetVolume = function() {};
        window.GetPlayState = function() {};
      })();
    </script>
  </body>
</html>
